* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;

  scroll-behavior: smooth;

  background-color: rgb(255, 248, 248);
}

header {
  em {
    color: #0d74ff;
  }

  .header-intro {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 90%;

    margin: 50px auto;

    .intro-text {
      display: flex;
      flex-direction: column;
      gap: 30px;

      h1 {
        font-size: 2.6em;
      }

      .languages-cont {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        max-width: 500px;

        font-family: "Kanit", sans-serif;

        .language-card {
          display: flex;
          align-items: center;
          gap: 5px;

          width: 40%;

          padding: 4%;

          border-radius: 9px;

          background-color: white;
          border: 1px solid rgb(223, 223, 223);

          .flag-cont {
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;
            overflow: hidden;

            box-shadow: 1px 3px 23px -3px rgba(34, 60, 80, 0.21);

            img {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }

    .intro-pic img {
      width: 55vw;
    }
  }

  .nav-container {
    background-color: white;
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      font-family: "Kanit", sans-serif;
      font-weight: 400;
      font-style: normal;

      width: 95%;
      height: 90px;

      margin: 0 auto;

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        user-select: none;
        pointer-events: none;
        height: 100%;
      }
      .logo img {
        width: 120px;
      }
      ul {
        display: flex;
        align-items: center;
        gap: 20px;

        li {
          list-style-type: none;
          a {
            text-decoration: none;
            transition: 0.3s;
            color: black;
          }
          a:hover {
            color: #0d74ff;
            transition: 0.3s;
          }
        }
      }
    }

    nav .burger {
      display: none;
      font-size: 28px;
      cursor: pointer;
      user-select: none;
    }
  }
}

.separator {
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 1.4em;

  font-family: "Kanit", sans-serif;

  width: 100%;
  height: 60px;

  margin: 70px 0px 70px 0px;

  background-color: #0d74ff;
}

.progress-wrapper {
  width: 100%;
  padding: 20px;
}

.progressBar {
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.progressBar li {
  flex: 1;
  position: relative;
  text-align: center;
  padding: 0 10px;
}

.progressBar li::before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: #0d74ff;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  color: white;
  position: relative;
  z-index: 2;
}

.progressBar li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  background: #0d74ff;
  top: 13px;
  left: -50%;
  z-index: 1;
}

.progressBar li:first-child::after {
  content: none;
}

.learners {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 80px;

  padding: 50px 0px 50px 0px;
  font-family: "Poetsen One", sans-serif;

  background-color: white;

  width: 100%;
  margin-top: 70px;

  h1 {
    font-size: 3em;
    font-weight: 700;
    transform: rotate(-2deg);
  }

  .comment-cont {
    display: flex;
    /* align-items: center; */
    justify-content: center;

    max-width: 80%;
    gap: 40px;

    .comment-card {
      display: flex;
      flex-direction: column;
      gap: 20px;

      font-family: "Kanit", sans-serif;

      max-width: 400px;

      img {
        width: 100px;
      }
      p {
        font-size: 24px;
        font-weight: 400;
      }
      h3 {
        font-weight: 100;
        font-style: italic;
        color: #2b3647;
      }
    }
  }
}

.chat-with-gpt {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin-top: 50px;

  h1 {
    font-size: 3em;
    font-weight: 700;
    transform: rotate(-2deg);
    font-family: "Poetsen One", sans-serif;

    text-align: center;
  }

  .gpt-cont {
    position: relative;
    margin-top: 40px;

    font-family: "Kanit", sans-serif;
    font-weight: 300;

    border: 1px solid rgb(205, 205, 205);
    border-radius: 10px;

    min-height: 400px;
    width: 80%;

    background-color: white;
    overflow: hidden;

    .user-cont {
      display: flex;
      align-items: center;

      height: 60px;
      background-color: #f0f6fb;

      img {
        width: 60px;
      }
    }

    .chat-container {
      max-height: 70vh;
      overflow-y: auto;
      padding: 10px 10px 90px 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      width: 100%;
    }

    .message {
      border-radius: 15px;
      font-family: sans-serif;
      padding: 10px 15px;
      max-width: 70%;
    }

    .user {
      align-self: flex-end;
      background-color: #d0f0ff;
    }

    .gpt {
      align-self: flex-start;
      background-color: #e5e5e5;
    }

    .input-container {
      display: flex;
      position: absolute;
      gap: 15px;

      bottom: 0;
      width: 100%;
      padding: 0px 30px 20px 30px;

      button {
        border-radius: 10px;
        background-color: #e6f7ff;

        outline: none;
        box-shadow: none;
        border: none;

        img {
          width: 50px;
          padding: 10px;
        }
      }
    }

    input#user-input {
      flex: 1;
      padding: 13px;
      border-radius: 10px;
      outline: none;
      box-shadow: none;
      border: none;

      background-color: #e6f7ff;
    }
  }
}

.speaking-with-chat {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin: 90px 0px 90px 0px;

  h1 {
    font-size: 2.5em;
    font-weight: 700;
    transform: rotate(-2deg);
    font-family: "Poetsen One", sans-serif;

    text-align: center;
  }

  #startRecord {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Kanit", sans-serif;
    font-size: 3vw;

    color: white;

    margin-top: 70px;

    width: 30vw;
    height: 30vw;

    background-color: #0d74ff;

    border-radius: 50%;
  }
}

.activeShrink {
  animation: shrink 0.3s forwards;
}

.translater-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;

  .text-area-result {
    display: flex;
    gap: 10px;
  }

  textarea {
    width: 40vw;
    height: 130px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    resize: none;
    outline: none;
  }
  select,
  button {
    padding: 8px 12px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    font-size: 14px;
  }
  #result {
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    width: 40vw;
    min-height: 40px;
    border: 1px solid #ddd;
  }
  #loader {
    width: 50px;
    height: 50px;
    display: none;
  }
  .lang-controls {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 40px;
  }

  h1 {
    font-size: 3em;
    font-family: "Poetsen One", sans-serif;
    font-weight: 700;
    transform: rotate(-2deg);
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.1);
  }
}

@media (max-width: 600px) {
  .progressBar {
    flex-direction: column;
    margin-left: 50px;
    height: 400px;
  }

  .progressBar li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    text-align: center;
  }

  .progressBar li::before {
    margin: 0;
    flex-shrink: 0;
  }

  .progressBar li::after {
    width: 8px;
    height: calc(100px);
    left: 21px;
    top: -50px;
  }

  .progressBar li:first-child::after {
    content: none;
  }

  .progressBar li span {
    margin-left: 15px;
  }

  .gpt-cont {
    width: 100% !important;
  }

  #loader-animation {
    width: 40vw !important;
  }

  #recognition-animation {
    width: 50vw !important;
  }

  .speaking-with-chat {
    h1 {
      font-size: 2em;
    }
  }

  .startRecord {
    width: 40vw !important;
    height: 40vw !important;
  }
}

@media (max-width: 720px) {
  .nav-container {
    nav .nav-links {
      position: absolute;
      top: 70px;
      left: 0;
      right: 0;
      background: white;
      flex-direction: column;
      align-items: center;
      display: none;
      padding: 20px 0;
      gap: 15px;
      z-index: 10;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    nav .nav-links.active {
      display: flex;
    }

    nav .burger {
      display: block !important;
    }
  }

  .lang-controls{
    flex-wrap: wrap;
  }

  .text-area-result{
    width: 100%;
    gap: 5px !important;

    textarea{
      width: 50%;
      min-height: 250px;
    }
    #result{
      width: 50%;

    }
  }
}

@media (max-width: 915px) {
  .header-intro {
    flex-direction: column;
    gap: 40px;

    .intro-text {
      align-items: center;
      text-align: center;
    }

    .languages-cont {
      justify-content: center;
    }
    .intro-pic img {
      width: 80vw !important;
    }
  }
}

@media (max-width: 666px) {
  .learners {
    h1 {
      text-align: center;
    }

    .comment-cont {
      flex-direction: column;
    }
  }
}
